<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Insert your information</title>
    <link rel="stylesheet" href="/static/style2.css">
</head>
    <body>
        <div class="input-group">
            <input id="username" type="text" required>
            <label for="username">Username</label>
        </div>
        <div class="input-group">
            <input id="password" type="password" required>
            <label for="password">Password</label>
        </div>
        <button class="signup" onclick="/signup">Sign Up</button>
    </body>
</html>