<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Insert your information</title>
        <link rel="stylesheet" href=/css/signupForm.css>
    </head>
    <body>
        <div class="input-group">
            <input id="username" type="text" required>
            <label for="username">Username</label>
        </div>
        <div class="input-group">
            <input id="email" type="email" required>
            <label for="email">Email</label>
        </div>
        <div class="input-group">
            <input id="password" type="password" required>
            <label for="password">Password</label>
        </div>
        <div class="input-group">
            <input id="name" type="text" required>
            <label for="name">First Name</label>
        </div>
        <div class="input-group">
            <input id="surname" type="text" required>
            <label for="surname">Last Name</label>
        </div>
        <div class="input-group">
            <input id="dob" type="date" required>
            <label id="date-label" for="dob">Date of Birth</label>
        </div>
        <button class="signup" onclick="/signup">Sign Up</button>
        <script src="/static/js/signup.js"></script>
    </body>
</html>